

.div1{
    padding-left: 20px;
  }
  input{
    border: 1px solid #0099CC;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0099CC !important;
}