body
{
 background-color:white;
 margin:0px auto;
 padding:0px;
 font-family:helvetica;
 height:2000px;
}
.div1{
    padding-left: 20px;
  }    
  
h1
{
 text-align:center;
 font-size:35px;
 margin-top:60px;
 color:white;
}
select{
    border: 2px solid rgb(51, 163, 238);
    width: 150px;
}
.label1{
    font-weight: bold;
}
