body
{
 background-color:white;
 margin:0px auto;
 padding:0px;
 font-family:helvetica;
 height:2000px;
}
.div1{
  padding-left: 20px;
}
.div{
  padding-left: 20px;
}
h1
{
 text-align:center;
 font-size:35px;
 margin-top:60px;
 color:white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
